@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<body>
    <div class="nav-link text-center">
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="nav">
                <a id="tasks" class="btn btn-outline-info text-dark" style="width:50%" href="/tasks" title="Manage">View my Tasks</a>
            </div>
        }
    </div>

</body></>
