@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<br />
<div style="padding-top:10px;">
    <p>
        <a class="btn btn-outline-success" href="/Identity/Account/Login">Login</a>
    </p>
</div>
